<% Globalize.with_locale(I18n.locale) do %>
  <%= simple_form_for([:admin, @field], html: {multipart: true}) do |f| %>
    <% if @field.errors.any? %>
      <!-- #error_explanation -->
        <h2> <%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>
        <ul>
          <% @field.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :name, required: true, label: "Display Name", wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="col-md-6">
          <%= f.input :full_name, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :field_key, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="col-md-6">
          <%= f.input :data_type, collection: Field::DATA_TYPE_OPTIONS, required: true, prompt: "Select One", wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, label: 'Data Type' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :period, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="col-md-6">
          <%= f.input :time_of_day, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :odr_type, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, label: 'ODR Type' %>
        </div>
        <div class="col-md-6">
          <%= f.input :measurement_type, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, label: 'Measurement Type' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :measurement_unit_original, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="col-md-6">
          <%= f.input :measurement_unit_si, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <%= f.input :help, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, as: :text %>
    </div>

    <div class="row">
        <div class="col-md-12">
            <%= f.button :submit, strip_tags(t('save')), class: "btn btn-primary" %>
        </div>
    </div>



  <% end %>
<% end %>
