<% Globalize.with_locale(I18n.locale) do %>
  <%= simple_form_for([:admin, @field], html: {multipart: true}) do |f| %>
    <% if @field.errors.any? %>
      <!-- #error_explanation -->
        <h2> <%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>
        <ul>
          <% @field.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name, required: true, label: "Display Name", wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
      <%= f.input :full_name, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
      <%= f.input :field_key, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
      <%= f.label :data_type, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
      <%= f.select :data_type, options_for_select(%w(string integer decimal)), required: true, prompt: "Select One", wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
      <%= f.input :help, required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    </div>

    <div class="row">
        <div class="col-md-12">
            <%= f.button :submit, strip_tags(t('save')), class: "btn btn-primary" %>
        </div>
    </div>

    

  <% end %>
<% end %>

