<%= simple_form_for (@static_page) do |f| %>
  <div class="row" data-hook="admin_page_form_fields">
    <div class="col-md-6" data-hook="admin_page_form_left">
      <div class="form-group">
        <%= f.input :title, required: true, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.input :slug, required: true, input_html: { class: 'form-control' } %>
      </div>

    </div>

    <div class="col-md-6" data-hook="admin_page_form_right">

      <div class="form-group">
        <%= f.input :foreign_link, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.input :position, input_html: { class: 'form-control', min: 0 } %>
      </div>
    </div>
  </div>

  <div class="row" data-hook="admin_page_form_meta">
      <div class="form-group col-md-4">
        <%= f.input :meta_title, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-group col-md-4">
        <%= f.input :meta_keywords, input_html: { class: 'form-control' } %>
      </div>

      <div class="form-group col-md-4">
        <%= f.input :meta_description, input_html: { class: 'form-control' } %>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="checkbox">
              <%= f.input :visible %>
          </div>
      </div>
        <div class="col-md-4">
          <div class="checkbox">
              <%= f.input :show_in_header %>
          </div>
      </div>
      <div class="col-md-4">
          <div class="checkbox">
              <%= f.input :show_in_sidebar %>
          </div>
      </div>
  </div>


  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <button type="button" id="toggle-visual-editor-btn" class="btn btn-xs btn-default pull-right" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="auto top" data-title="Visual Editor" data-content="If you turn on the visual editor, you may lose some fine-grained control over the result of your page. DIV containers are not supported, and things tend to get wrapped in paragraph tags. <b>Do not use the visual editor to modify the custom stylesheet.</b>">Toggle Visual Editor</button>
            <%= f.input :body, required: true, input_html: { class: 'form-control', id: "page-content", rows: 12 } %>
        </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", static_pages_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        var editorIsEnabled = false;

        $("#toggle-visual-editor-btn").on("click", function() {
            if (editorIsEnabled) {
              $('#page-content').trumbowyg("destroy");
              editorIsEnabled = false;
            } else {
              $('#page-content').trumbowyg({
                  removeformatPasted: true,
                  autogrow: true,
                  svgPath: '<%= image_path("trombowyg/icons.svg")%>',
                  semantic: false
              }).on("tbwinit", function() {
                editorIsEnabled = true;
              });
            }

        });
        
    });
</script>