<tr>
  <td><%= static_page.position %></td>
  <td><%= static_page.title %></td>
  <td><%= link_to static_page.link, static_page.link, target: '_blank' %></td>
  <td class="text-center"><%= content_tag(:i, '', class: 'fa fa-check') if static_page.visible %></td>
  <td class="actions text-right" data-hook="admin_pages_index_row_actions">
    <%= link_to "Edit", edit_static_page_path(static_page) %>
    <%= link_to 'Destroy', static_page, data: {:confirm => 'Are you sure?'}, :method => :delete %>
  </td>
</tr>