<% if @page %>
	<%= provide :title, @page.title %>
	<% content_for :head do -%>
	    <%- if @page.meta_title.present? -%>
	      <meta name="title" content="<%= @page.meta_title %>">
	    <%- else -%>
	      <meta name="title" content="<%= @page.title %>">
	    <%- end -%>
	    <meta name="keywords" content="<%= @page.meta_keywords %>">
	    <meta name="description" content="<%= @page.meta_description %>">
  	<% end -%>
  	<h1><%= @page.title %></h1>
	<div id="page_content">
	  <%= @page.body.html_safe %>
	</div>
<% else %>

<% end %>