<%= simple_form_for(@field_group) do |f| %>
    <% if @field_group.errors.any? %>
        <h2><%= pluralize(@field_group.errors.count, "error") %> prohibited this field group from being saved:</h2>
        <ul>
            <% @field_group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    
    <%= f.error_notification %>
    <%= f.association :page_type, include_blank: false, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    <%= f.input :position, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, label: "Order" %>
    <%= f.input :name, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    <%= f.input :display_name, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    <%= f.input :help, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    <%= f.label "Colour" %>
    <%= f.select :colour_class, options_for_select({
        "Red" => "red-group", 
        "Pink" => "pink-group",
        "Purple" => "purple-group",
        "Blue" => "blue-group",
        "Cyan" => "cyan-group",
        "Green" => "green-group",
        "Yellow" => "yellow-group",
        "Orange" => "orange-group"
        }, "purple-group"), required: true, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' } %>
    <%= f.input :description, wrapper_html: { class: 'field-group' }, input_html: { class: 'form-control' }, required: false %>
    
    <div class="form-group row">
        <div class="col-md-12"><h3>Fields</h3></div>
        <div class="col-md-12">
            <% Field.all.each do |field| %>
                <div class="checkbox">
                    <label>
                        <%= check_box_tag "field_group[field_ids][]", field.id, @field_group.fields.include?(field) %>
                        <%= field.name %>
                    </label>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= submit_tag "Save", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
