<% if @field_option %>
  <h1><%= @field_option.name.present? ? "Showing: " + @field_option.name : "Showing Field Option" %>

    <ul>
      <li>Internal name: <%= @field_option.internal_name %></li>
      <li>Symbol: <%= @field_option.text_symbol %></li>
      <li>Stored Value: <%= @field_option.value %></li>
      <li>Display When Selected: <%= @field_option.display_attribute %></li>
      <li>Help: <%= @field_option.help %></li>
      <li><%= image_tag(@field_option.image.url(:large), class: "img-responsive") if @field_option.image.present? %></li>
    </ul>
<% end %>