<script id="fields-app" type="text/javascript">

    FieldsApp = new Marionette.Application();

    FieldsApp.addRegions({
        main : "#fields-app-container"
    });

    FieldsApp.AppManager = (function(Backbone, Marionette){
        var EventAggregator = new Backbone.Wreqr.EventAggregator();

        FieldGroup = Backbone.Model.extend({
            url : "<%= admin_field_groups_path %>",
        });
        Field = Backbone.Model.extend({
            url : "<%= admin_fields_path %>",
            schema : {
                field_key : {
                    type : "Text",
                    title : "Unique Field Key",
                    hint : "Enter a unique identifier for this field. No spaces, use underscores to separate words."
                },
                data_type : {
                    type : "Select",
                    title : "Data Type",
                    hint : "Select the type of data that will be entered. This will be used to convert the text data to the proper format on export.",
                    options : [
                        {label : "Short Text", val: "string"},
                        {label : "Long Text", val: "long_text"},
                        {label : "Integer", val: "integer"},
                        {label : "Decimal/Float", val: "float"}
                    ]
                },
                name : {
                    type : "Text",
                    title : "Display Name",
                    validators : ["required"],
                    hint : "Enter a name for this field. This name will be displayed in the transcriber tab."
                },
                full_name : {
                    type : "Text",
                    title : "Full Name",
                    // validators : ["required"],
                    hint : "Enter the full name for this field. This will be displayed in the help popover if present."
                },
                internal_name : {
                    type : "Text",
                    title : "Internal Name",
                    hint : "Name for internal organization"
                },
                help : {
                    type : "TextArea",
                    hint : "Enter a help text that will be shown to the user in the help popover."
                },
            },
            defaults : {
            },

            initialize : function(opts){
                this.options = opts || {};
            },
            paramRoot : "field"
        });

        FieldsCollection = Backbone.Collection.extend({
            model : Field
        });

        FieldsLayout = Marionette.LayoutView.extend({
            template : "#fields-layout-template",
            regions : {
                assigned : "#assigned-fields-container",
                available : "#available-fields-container",
                // multiToggle : "#field-multi-toggle-container"
            },

            className : "col-md-12",

            events : {
                "click #create-field-btn" : "createField"
            },

            createField : function() {
                // console.info("Create field option btn clicked");
                // console.log(Field);
                var form = new Backbone.Form({
                    model: new Field()

                });

                var modal = new Backbone.BootstrapModal({
                    content : form,
                    template: Backbone.Form.bbModalTemplate,
                    title : "Create New Field",
                    animate : true,
                    submitFn : function(){
                        // console.log("submit fn called");
                        // console.log(this);
                        var modal = this;

                        form = this.options.content;

                        var errors = form.commit({ validate: true });

                        // console.log(form.model);


                        if (!errors) {
                            form.model.save(null, {
                                success : function(mdl) {
                                    AvailableFields.add(mdl);
                                    // console.log(mdl);
                                    modal.close();
                                },
                                paramRoot : "field",
                                formData : true
                            });
                        };
                        return errors;
                    },
                }).open();
            }
        });

        FieldView = Marionette.ItemView.extend({
            // template : "#field-template",
            template: function(serialized_model) {
              var tmpl = $('#field-template');
              return _.template(tmpl[0].innerHTML)(serialized_model);
            },
            tagName : "tr",
            className : "field",

            initialize : function(options) {
                this.listenTo(this.model, "change", this.render);
                this.listenTo(this.model, "close_view", this.close);
            },

            events : {
                "click .add-to-field-group-btn" : "addToFieldGroup",
                "click .remove-from-field-group-btn" : "removeFromFieldGroup",
                "click .model-edit-btn" : "editModel"
            },

            editModel : function() {

                var form = new Backbone.Form({
                    model: this.model,

                });

                var modal = new Backbone.BootstrapModal({
                    content : form,
                    template: Backbone.Form.bbModalTemplate,
                    title : "Edit Field",
                    animate : true,
                    submitFn : function(){
                        // console.log("submit fn called");
                        // console.log(this);
                        var modal = this;
                        form = this.options.content;
                        var errors = form.commit({ validate: true });

                        if (!errors) {
                            form.model.save(null, {
                                url : "<%= admin_fields_path %>" + "/" + form.model.get("id") + "?field_group_id=" + <%= field_group.id %>,
                                success : function(mdl) {
                                    // console.log(mdl);
                                    modal.close();
                                },
                                paramRoot : "field",
                                formData : true
                            });
                        };
                        return errors;
                    },
                }).open();
            },

            addToFieldGroup : function() {
                var id = this.model.get("id");
                var self = this;
                var mdl = this.model;

                mdl.fetch({
                    type : "POST",
                    url : "<%= admin_add_field_to_field_group_path %>",
                    data : {field_group_id: <%= field_group.id %>, field_id: id},
                    dataType: 'json',
                    success : function(response) {
                        // console.info("added field option to field");
                        AvailableFields.remove(mdl);
                        AssignedFields.add(mdl);
                        $(".tooltip").remove();
                    }
                });
            },

            removeFromFieldGroup : function() {
                var id = this.model.get("id");
                var self = this;
                var mdl = this.model;

                mdl.fetch({
                    type : "POST",
                    url : "<%= admin_remove_field_from_field_group_path %>",
                    data : {field_group_id: <%= field_group.id %>, field_id: id},
                    dataType: 'json',
                    success : function(response) {
                        // console.info("removed field option from field");
                        AssignedFields.remove(mdl);
                        AvailableFields.add(mdl);
                        $(".tooltip").remove();
                    }
                });
            },

            onRender : function() {
                this.$el.find('[data-toggle="tooltip"]').tooltip();

                this.$el.data("field-id", this.model.get("id"));
            }
        });


        FieldsCollectionView = Marionette.CompositeView.extend({
            // template : "#fields-collection-template",
            template: function(serialized_model) {
              var tmpl = $('#fields-collection-template');
              return _.template(tmpl[0].innerHTML)(serialized_model);
            },
            childView : FieldView,
            childViewContainer : ".field-rows-container",
            tagName : "table",
            className : "table table-striped fields-table",

            emptyView : Marionette.ItemView.extend({
                template : _.template("<td colspan=5>No Fields</td>"),
                tagName : "tr",

            }),

            initialize : function(options) {
                options = options || {};
                $.extend(this.options, options);
                this.listenTo(this.collection, "change", this.render);
            },

            onRender : function() {
                if (this.options.collectionTitle) {
                    this.$el.find("#collection-title-container").html(this.options.collectionTitle);
                };

                if (this.options.sortable) {

                    if (this.$el.sortable("instance")) {
                        this.$el.sortable("refreshPositions");
                        // console.info("positions refreshed");
                    } else {
                        this.$el.sortable({
                            axis: 'y',
                            items: '.field',
                            cursor: 'move',

                            sort : function(e, ui) {
                                ui.item.addClass('active-item-shadow');
                            },
                            stop : function(e, ui) {
                                ui.item.removeClass('active-item-shadow');
                                // # highlight the row on drop to indicate an update
                                ui.item.children('td').effect('highlight', {}, 1000);
                            },
                            update : function(e, ui) {
                                item_id = ui.item.data('field-id');
                                position = ui.item.index();

                                console.log(position);
                                $.ajax({
                                    type: 'POST',
                                    url: '<%= admin_update_field_sort_order_path %>',
                                    dataType: 'json',
                                    data: {
                                        field_group_id : <%= field_group.id %>,
                                        field_id: item_id,
                                        sort_order_position: position
                                    }
                                });
                            }
                        });
                    }

                }
            }
        });

        MainLayout = new FieldsLayout();

        AssignedFields = new FieldsCollection({
            url : "<%= admin_fields_for_field_group_path(field_group) %>",
            initialize : function() {
                EventAggregator.on("refresh_fields", this.fetch, this);
            }
        });
        AvailableFields = new FieldsCollection({
            url : "<%= admin_fields_path %>",
            initialize : function() {
                EventAggregator.on("refresh_fields", this.fetch, this);
            }
        });

        return {
            init : function() {
                console.info("Fields App Started");
                FieldsApp.main.show(MainLayout);

                AssignedFields.fetch({
                    url : "<%= admin_fields_for_field_group_path(field_group) %>",
                    success : function(collection) {
                        // console.log(collection);
                        view = new FieldsCollectionView({
                            collection : collection,
                            collectionTitle : "<h4>Assigned Fields</h4>",
                            initialize : function() {
                                this.listenTo(this.collection, "change", this.render);
                            },
                            emptyView : Marionette.ItemView.extend({
                                template : _.template("<td colspan=5>No Fields Assigned</td>"),
                                tagName : "tr",

                            }),
                            sortable: true
                        });
                        MainLayout.assigned.show(view);
                        EventAggregator.on("refresh_fields", this.fetch, this);
                    }
                });

                AvailableFields.fetch({
                    url : "<%= admin_fields_path(field_group_id: field_group.id) %>",
                    success : function(collection) {
                        // console.log(collection);
                        view = new FieldsCollectionView({
                            collection : collection,
                            collectionTitle : "<h4>Available Fields</h4>",
                            initialize : function() {
                                this.listenTo(this.collection, "change", this.render);
                            },
                            emptyView : Marionette.ItemView.extend({
                                template : _.template("<td colspan=5>No Fields Available</td>"),
                                tagName : "tr",

                            })
                        });
                        MainLayout.available.show(view);
                        EventAggregator.on("refresh_fields", this.fetch, this);
                    }
                });
            }
        }
    })(Backbone, Marionette);

    $(document).ready(function() {
        FieldsApp.addInitializer(FieldsApp.AppManager.init);
        FieldsApp.start();
    });

</script>

<script type="text/template" id="fields-layout-template">
  <h3>Fields  <button class="btn btn-primary btn-sm" id="create-field-btn" type="button">New</button></h3>
  <div id="fields-tables-container" class="row">
    <div class="col-md-12">
      <div id="assigned-fields-container" class="table-responsive"></div>
    </div>
    <div class="col-md-12">
      <div id="available-fields-container" class="table-responsive"></div>
    </div>
  </div>
</script>

<script type="text/template" id="field-group-template">
    <input type="checkbox" id="field-multi-toggle" value=true {{= (multi_select) ? "checked" : null }} />
</script>

<script type="text/template" id="field-template">
        <td>{{= internal_name }}</td>
        <td>
            {{= name }}
            {{ if (typeof full_name != "undefined" && full_name != null && full_name.length > 1) { }}
                <br />({{= full_name}})
            {{ } }}
        </td>
        <td>{{= help }}</td>
        <td>{{= field_key }}</td>
        <td>{{= data_type }}</td>
        <td>{{= num_field_values }}<br /><a href="<%= admin_fields_path %>/{{= id }}/edit" target="field_{{= id }}">Add/Remove Values <i class="fa fa-external-link"></i></a></td>
        <td>
            {{ if(assigned) { }}
                    <i class="fa fa-times fa-2x remove-from-field-group-btn float-right" data-toggle="tooltip" data-placement="auto top" data-container="body" title="Remove From Field Group"></i>
            {{ } else { }}
                <i class="fa fa-plus fa-2x add-to-field-group-btn float-right" data-toggle="tooltip" data-placement="auto top" data-container="body" title="Add to Field Group"></i>
            {{ } }}
            <button class="model-edit-btn float-right btn btn-primary btn-sm" data-toggle="tooltip" data-placement="auto top" data-container="body" title="Edit details (globally)">
              <i class="fa fa-pencil"></i>
            </button>
        </td>
</script>


<script type="text/template" id="fields-collection-template">
        <thead>
            <tr>
                <th>Internal Name</th>
                <th>Name</th>
                <th>Help</th>
                <th>Field Key</th>
                <th>Data Type</th>
                <th>Field Values</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="title-wrapper"><td id="collection-title-container" colspan=5></td></tr>
        </tbody>
        <tbody class="field-rows-container"></tbody>
</script>
