
<script type="text/template" id="main-layout-template">
    <div id="transcriber-toolbar">

    </div>
    <div id="transcription-msg-container"></div>
    <div id="header-image-container">
        
    </div>
    <div id="page-time-container">
        <div id="time-image-container"></div>
        <div id="page-container"></div>
    </div>

</script>

<script type="text/template" id="transcription-toolbar-template">
    <div id="transcription-buttons" class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" data-purpose="guide and help">
            <a href="/tutorial" target="tutorial" class="btn btn-default">Instructions</a>
            <a href="/feedback" target="feedback" class="btn btn-default">Feedback</a>
        </div>
        <div class="btn-group" role="group" data-purpose="action buttons">
            <button id="new-annotation" type="button" class="btn btn-primary">New Annotation</button>
            <!-- <button id="toggle-annoation-display" type="button" class="btn btn-default">Toggle annotation boxes</button> -->
        </div>
        <div id="get-started-txt" class="btn-group" role="group" data-purpose="guide and help">
            <i class="fa fa-arrow-left"></i>  Click on "New Annotation" to transcribe
        </div>
    </div>
    <div id="transcription-form-container">
            <%= form_for transcription, html: {class: "form-inline", id: "submit-transcription-form"} do %>
                <% if transcription.complete %>
                    <%= submit_tag "Submit Finished Transcription", data: { confirm: "Are you sure?" }, style: "margin-left: 20px;", class: "btn btn-success pull-right", id: "finish-transcribing-btn" %>
                <% else %>
                    <%= submit_tag "Take a Break", data: { confirm: "Are you sure?" }, style: "margin-left: 20px;", class: "btn btn-default pull-right", id: "finish-transcribing-btn" %>
                <% end %>

                <%= hidden_field_tag "transcription[complete]", false %>
                <%= check_box_tag "transcription[complete]", true, transcription.complete, id: "page-complete-checkbox" %>
            <% end %>
    </div>

</script>

<script type="text/template" id="page-canvas-template">
    <img src="<%= page.image.url(:original) %>" alt="" id="target-image">
</script>

<script type="text/template" id="page-image-template">
    <div class="control-mask">
        
        <div class="action-msg">click and drag to reposition annotation guide</div>

    </div>
    <img src="<%= page.image.url(:original) %>" id="{{= image_id }}">
</script>

<script type="text/template" id="msg-template"> 
        <span id="msg">{{= text }}</span><button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true"><i class="fa fa-remove"></i></span></button> 
</script> 

<script id="annotation-box-template" type="text/template">
    <div class="inner">

    </div>
</script>
