
<script type="text/template" id="main-layout-template">
    <div id="transcriber-toolbar">

    </div>
    <div id="transcription-msg-container"></div>
    <div id="header-wrapper">
        <div id="header-img-spacer">&nbsp;</div>
        <div id="header-image-container"></div>
    </div>
    <div id="page-time-container">
        <div id="time-image-container"></div>
        <div id="page-container"></div>
    </div>

</script>

<script type="text/template" id="transcription-toolbar-template">
    <div id="transcription-buttons" class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" data-purpose="action buttons">
            <button id="new-annotation" type="button" class="btn btn-primary">Transcribe</button>
        </div>
        <div class="btn-group" role="group" data-purpose="guide and help">
            <a href="/tutorial" target="tutorial" class="btn btn-default">Instructions</a>
            <a href="/feedback" target="feedback" class="btn btn-default">Feedback</a>
        </div>
    </div>
    <div id="transcription-form-container">
        <button id="stop-transcribing" class="btn btn-default pull-right">Stop Transcribing</button>
    </div>

</script>

<script type="text/template" id="page-canvas-template">
    <img src="<%= page.image.url(:original) %>" alt="" id="target-image">
</script>

<script type="text/template" id="page-image-template">
    <div class="control-mask">
        <div class="actions-container">
            <span class="btn btn-xs btn-default default-position-btn">Default Position</span>
            <span class="btn btn-xs btn-default adjust-position-btn">Reposition Image</span>
        </div>
        <div class="description-msg">{{= description_msg }}</div>
        <div class="action-msg">{{= action_msg }}</div>
    </div>
    <img src="<%= page.image.url(:original) %>" id="{{= image_id }}">
</script>

<script type="text/template" id="msg-template"> 
        <span id="msg">{{= text }}</span><button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true"><i class="fa fa-remove"></i></span></button> 
</script> 

<script id="annotation-box-template" type="text/template">
    <div class="inner">
        <div class="annotation-actions">
            <button type="button" class="btn btn-xs btn-default edit-annotation-btn" data-toggle="tooltip" data-trigger="hover" data-container="#canvas" title="edit values"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-xs btn-default resize-annotation-btn" data-toggle="tooltip" data-trigger="hover" data-container="#canvas" title="resize box"><i class="fa fa-expand" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-xs btn-default move-annotation-btn" data-toggle="tooltip" data-trigger="hover" data-container="#canvas" title="reposition box"><i class="fa fa-arrows" aria-hidden="true"></i></button>

            <button type="button" class="btn btn-xs btn-danger delete-annotation-btn pull-right" data-toggle="tooltip" data-trigger="hover" data-container="#canvas" title="delete annotation"><i class="fa fa-trash"></i></button>
        </div>
        <div class="annotation-msg"></div>
    </div>
</script>

<script type="text/template" id="transcription-box-template">
    <div id="scribe_transcription_area">
        <div id="scribe_top_bar">
            <!-- <div id="scribe_prompt">
                <p id="scribe_prompt_text">Enter the values for each field to be transcribed</p>
                <button class="btn btn-default btn-xs pull-right close-btn" style="border: none;"><i class="fa fa-close fa-2x"></i></button>
            </div> -->
            <div id="scribe_tab_bar">
                <% field_groups.each do |field_group| %>
                    <% if field_group.fields.any? %>
                        <button id="scribe_tab_<%= field_group.id %>" class="btn btn-default btn-sm scribe_tab" data-classname=" <%= field_group.colour_class %>" data-field-group-id="<%= field_group.id %>" data-field-count=<%= field_group.fields.count %>><%= field_group.presentation_name %></button>
                    <% end %>
                <% end %>
                <button class="btn btn-default btn-xs close-btn" style="border: none;"><i class="fa fa-close fa-2x"></i></button>
            </div>
        </div>
        <div id="scribe_bottom_area">
            <div id="scribe_input_bar">
                <div id="formInstructions">Click a tab to begin</div>
                <% field_groups.each do |field_group| %>
                    <div id="field-group-<%= field_group.id %>" class="annotation-form-field-group" style="display:none;">
                        <% if field_group.help.present? %>
                            <p class="field-group-help-text"><%= field_group.help.html_safe %></p>
                        <% end %>
                        <%= form_tag annotations_path, id: ("field_group_" + field_group.id.to_s), class:"annotation-form", remote: true, format: :json, data: {field_group_id: field_group.id } do %>
                            <%= hidden_field_tag "filename", page.image_file_name %>
                            <%= hidden_field_tag "annotation[meta][transcription_id]", transcription.id %>
                            <%= hidden_field_tag "annotation[meta][page_id]", page.id %>
                            <%= hidden_field_tag "annotation[meta][field_group_id]", field_group.id %>
                            <%= hidden_field_tag "annotation[meta][x_tl]", nil, id: "x-field" %>
                            <%= hidden_field_tag "annotation[meta][y_tl]", nil, id: "y-field" %>
                            <%= hidden_field_tag "annotation[meta][width]", nil, id: "width-field" %>
                            <%= hidden_field_tag "annotation[meta][height]", nil, id: "height-field" %>
                            
                            <div class="user-input-container">
                                <div class="labels-container">
                                    <div class="scribe_input_label date-label">
                                        <%= content_tag "i", "", class: "fa fa-info-circle", style: "cursor: help;", title: "Observation Date and Time", data: { content: "What is the date and time of this observation? <b>You can select the date and time by clicking on the clock icon.</b><br>Should follow the format <nobr><code>04 Aug 1874, 01:48 AM</code></nobr>.", html: true, toggle: "popover", placement: "auto", trigger: "hover", container: "body"}%> Observation Date and Time
                                    </div>
                                    <% field_group.fields.each do |field| %>
                                        <div class="scribe_input_label">
                                            <i class="fa fa-info-circle" style="cursor: help;" aria-hidden="true" title="<%= (field.full_name && field.full_name.present? ? field.full_name : field.name) %>" data-toggle="popover" data-trigger="hover" data-content="<%= (field.help && field.help.present? ? field.help : "") %>" data-container="body" data-placement="auto"></i> <%= field.name %>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="fields-container">
                                    <div class="scribe_input_field datetime">
                                        <div class="input-group datetime-group" id="time-<%= field_group.id.to_s %>">
                                            <%= text_field_tag "annotation[observation_date]", nil, required: true, class: "observation-input do-not-clear form-control datetime-field", title: "Observation Date and Time" %>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <% field_group.fields.each do |field| %>
                                        <div class="scribe_input_field" data-field-id="<%= field.id %>">
                                            <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][page_id]", page.id %>
                                            <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][user_id]", current_user.id %>
                                            <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][field_id]", field.id, data: {field_type: "field_id"} %>
                                            <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][data_type]", field.data_type %>
                                            <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][selected_option_ids]", nil, class: "selected-option-ids" if field.multi_select %>
                                            
                                            <% if field.field_options.any? %>
                                                <%= select_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]", nil, class: "observation-input form-control selectable", multiple: field.multi_select,  data: { field_id: field.id, field_type: "field_value", selectable: true, field_options: true, multiple: field.multi_select, tags: field.multi_select } %>
                                            <% else %>
                                                <%= select_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]", nil, class: "observation-input form-control selectable", data: { field_id: field.id, field_type: "field_value", selectable: true, field_options: false } %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <%= button_tag "Save", class:"submit-btn btn btn-primary btn-md" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- <div id="transcriber-grid-container">
        <div class="control-mask">
            Position this box around the data youre transcribing
        </div>
    </div> -->

</script>


<script type="text/template" id="stop-transcribing-template">
    <p class="boffset20">If the page still has data that has not yet been transcribed, click on the blue "Take a break" button below. <!--If the page is completely finished, and there is no longer any data left to transcribe, click on the green "Page is complete" button. --></p>
    <%= form_for transcription, html: {class: "", id: "submit-transcription-form", style: "overflow: hidden;"} do %>
        <%= hidden_field_tag "transcription[complete]", false %>
        <%= submit_tag strip_tags(t('take-a-break')), style: "margin-left: 20px;", class: "btn btn-lg btn-primary pull-right", id: "finish-transcribing-btn" %>
    <% end %>
</script>

<script type="text/template" id="draw-box-modal-contents">
    <p class="boffset40">Click and drag the main image to draw a box around the observations that you just transcribed. Don't include the date or time.</p>
    <img src="http://test.citsci.geog.mcgill.ca/system/content_images/large/775d3dd38deab22f40fb1952448c7766a3a1fea8.gif" alt="" class="img-responsive center-block">
    <div class="box-modal-btn-container voffset20">
        <button class="draw-box-btn dont-ask-again btn btn-lg btn-info pull-left">Mark and Don't Show This Again</button>
        <button class="draw-box-btn btn btn-lg btn-primary pull-right">Mark Transcribed Area</button>
    </div>
</script>

