
<script type="text/template" id="main-layout-template">
  <div id="transcriber-toolbar"></div>
  <div id="transcriber-image-container">
    <header id="field-guide-container"></header>
    <section id="page-time-container">
      <aside id="time-guide-container"></aside>
      <main id="page-container"></main>
    </section>
    <section id="data-panel" class="transcription-data-panel"></section>
  </div>
</script>

<script type="text/template" id="transcription-toolbar-template">
  <div>
    <div id="transcriber-nav" class="draw-top-nav navbar-default">
      <ul class="nav navbar-nav dropdown">
        <li class="transcriber-btn-li">
          <button id="new-annotation" type="button"
            class="btn btn-sm btn-draw-accented">
            <%= t('transcriber.toolbar.open-transcriber') %>
          </button>
        </li>
        <% if content_pages.any? %>
          <% content_pages.each do |sp| %>
            <%= render "static_pages/link", page: sp, top_level: true,
              opens_new_tab: true %>
          <% end %>
        <% end %>
        <li>
          <a class="fa fa-facebook" href="https://facebook.com/DRAWMcGill/" target="_blank"></a>
        </li>
        <li>
          <a class="fa fa-twitter" href="https://twitter.com/DRAWMcGill" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-right">
    <div class="btn-group">
      <button class="btn btn-sm btn-default zoom-btn btn-zoom-out"
        style="border-right: none;">
          <i class="fa fa-search-minus"></i>
      </button>
      <div class="dropdown btn-zoom-level" style="float: left;">
        <button type="button" class="btn btn-sm dropdown-toggle btn-default"
          style="border-radius: 0px;" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"
        >
          <strong><span class="current-zoom">100</span>%</strong>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a data-zoom-level="25">25%</a></li>
          <li><a data-zoom-level="50">50%</a></li>
          <li><a data-zoom-level="75">75%</a></li>
          <li><a data-zoom-level="100">100%</a></li>
          <li><a data-zoom-level="125">125%</a></li>
          <li><a data-zoom-level="150">150%</a></li>
          <li><a data-zoom-level="175">175%</a></li>
          <li><a data-zoom-level="200">200%</a></li>
          <li><a data-zoom-level="225">225%</a></li>
          <li><a data-zoom-level="250">250%</a></li>
          <li><a data-zoom-level="275">275%</a></li>
          <li><a data-zoom-level="300">300%</a></li>
        </ul>
      </div>
       <button class="btn btn-sm btn-default zoom-btn btn-zoom-in"
        style="border-left: none;">
          <i class="fa fa-search-plus"></i>
      </button>
    </div>
    <button id="toggle-data-btn" class="btn btn-sm btn-default"
      data-panel="closed">
      <%= t('transcriber.toolbar.view-data') %>
    </button>
    <button id="stop-transcribing" class="btn btn-sm btn-default">
      <%= t('transcriber.toolbar.stop-transcribing') %>
    </button>
  </div>
</script>

<script id="transcription-data-panel-template" type="text/template">
  <i class="close fa fa-close btn btn-default btn-xs pull-right"></i>
  <div id="data-table-container">
    <i class="fa fa-refresh fa-spin center-block"></i>
  </div>
</script>

<script type="text/template" id="page-canvas-template">
  <img src="<%= page.image.url(:original) %>" alt="" id="target-image">
</script>

<script type="text/template" id="page-image-template">
  <img src="<%= page.image.url(:original) %>" id="{{= image_id }}">
</script>

<script id="annotation-box-template" type="text/template">
  <div class="inner">
    <div class="annotation-actions">
      <button type="button"
        class="btn btn-xs btn-default edit-annotation-btn"
        data-toggle="tooltip" data-trigger="hover" data-container="#canvas"
        title="<%= strip_tags(t('transcriber.annotation-boxes.tooltips.edit')) %>">
        <i class="fa fa-pencil"></i>
      </button>
      <button type="button"
        class="btn btn-xs btn-default resize-annotation-btn"
        data-toggle="tooltip" data-trigger="hover" data-container="#canvas"
        title="<%= strip_tags(t('transcriber.annotation-boxes.tooltips.resize')) %>">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </button>
      <button type="button"
        class="btn btn-xs btn-default move-annotation-btn"
        data-toggle="tooltip" data-trigger="hover" data-container="#canvas"
        title="<%= strip_tags(t('transcriber.annotation-boxes.tooltips.move')) %>">
        <i class="fa fa-arrows" aria-hidden="true"></i>
      </button>

      <button type="button"
        class="btn btn-xs btn-danger delete-annotation-btn pull-right"
        data-toggle="tooltip" data-trigger="hover" data-container="#canvas"
        title="<%= strip_tags(t('transcriber.annotation-boxes.tooltips.delete')) %>">
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <div class="annotation-msg"></div>
  </div>
</script>

<script type="text/template" id="transcription-box-template">
  <div id="transcription-area">
    <div id="transcription-box-tab-container">
      <div id="field-group-tab-bar">
        <% field_groups.each do |field_group| %>
          <button id="field-group-tab-<%= field_group.id %>"
            class="btn btn-default btn-sm field-group-tab"
            data-classname=" <%= field_group.colour_class %>"
            data-field-group-id="<%= field_group.id %>"
            data-field-count=<%= field_group.fields.size %>>
            <%= field_group.presentation_name %>
          </button>
        <% end %>
        <button class="btn btn-default btn-xs close-btn"
        style="border: none;"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
    <div id="transcription-box-form-container">
      <div id="scribe_input_bar">
        <div id="initial-prompt">
          <%= t('transcriber.transcription-box-template.initial-prompt') %>
        </div>
        <% field_groups.each do |field_group| %>
          <div id="field-group-<%= field_group.id %>"
            class="annotation-form-field-group" style="display:none;">
            <% if field_group.help.present? %>
              <p class="field-group-help-text">
                <%= field_group.help.html_safe %>
              </p>
            <% end %>
            <%= form_tag(
              annotations_path,
                id: "field_group_#{field_group.id}",
                class:"annotation-form", remote: true, format: :json,
                data: { field_group_id: field_group.id }
              ) do
            %>
              <%= hidden_field_tag "filename", page.image_file_name %>
              <%= hidden_field_tag "annotation[meta][transcription_id]",
                transcription.id
              %>
              <%= hidden_field_tag "annotation[meta][page_id]",
                page.id
              %>
              <%= hidden_field_tag "annotation[meta][field_group_id]",
                field_group.id
              %>
              <%= hidden_field_tag "annotation[meta][x_tl]", nil,
                id: "x-field"
              %>
              <%= hidden_field_tag "annotation[meta][y_tl]", nil,
                id: "y-field"
              %>
              <%= hidden_field_tag "annotation[meta][width]", nil,
                id: "width-field"
              %>
              <%= hidden_field_tag "annotation[meta][height]", nil,
                id: "height-field"
              %>

              <div class="user-input-container">
                <div class="labels-container">
                  <!-- "What is the date and time of this observation? <b>You can select the date and time by clicking on the clock icon.</b><br>Should follow the format <nobr><code>04 Aug 1874, 01:48 AM</code></nobr>." -->
                    <div class="scribe_input_label date-label">
                      <label for="datetime-help"
                      style="cursor: help;"
                      aria-hidden="true"
                      title="<%=strip_tags(t('transcriber.transcription-box-template.form.fields.labels.datetime'))%>"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-content="<%= t('transcriber.transcription-box-template.form.fields.help.datetime').html_safe %>"
                      data-container="body"
                      data-html="true"
                      data-placement="auto">
                      <%= t('transcriber.transcription-box-template.form.fields.labels.datetime') %></label>
                    </div>
                    <% field_group.fields.each do |field| %>
                      <div class="scribe_input_label">
                        <label for="<%= dom_id(field) %>"
                          style="cursor: help;"
                          aria-hidden="true"
                          title="<%= (field.full_name && field.full_name.present? ? field.full_name : field.name) %>"
                          data-toggle="popover"
                          data-trigger="hover"
                          data-content="<%= (field.help && field.help.present? ? field.help : "") %>"
                          data-container="body"
                          data-placement="auto"><%= field.name_en %></label>
                      </div>
                    <% end %>
                </div>
                <div class="fields-container">
                  <div class="transcriber-input datetime">
                    <div class="input-group datetime-group"
                      id="time-<%= field_group.id.to_s %>">
                      <%= text_field_tag "annotation[observation_date]",
                        nil, required: true,
                        class: "observation-input do-not-clear form-control datetime-field",
                        title: t('transcriber.transcription-box-template.form.fields.labels.datetime')
                      %>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                  <% field_group.fields.each do |field| %>
                    <div class="transcriber-input <%= field.data_type.gsub('_', '-') %>" data-field-id="<%= field.id %>">
                      <%=
                        hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][page_id]",
                        page.id
                      %>
                      <%=
                        hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][user_id]",
                        current_user.id
                      %>
                      <%=
                        hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][field_id]",
                        field.id, data: {field_type: "field_id"}
                      %>
                      <%=
                        hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][data_type]",
                        field.data_type
                      %>
                      <%=
                        hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][selected_option_ids]",
                        nil, class: "selected-option-ids"
                      %>
                      <% if field.long_text? %>
                        <%=
                          text_area_tag(
                            "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]",
                            nil,
                            id: dom_id(field),
                            class: 'long-text',
                            data: {
                              field_id: field.id,
                              field_type: "field_value"
                            }
                          )
                        %>
                      <% else %>
                        <%=
                          select_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]",
                          ('<option></option>').html_safe,
                          id: dom_id(field),
                          class: "observation-input form-control selectable",
                          multiple: field.multi_select,
                          placeholder: (field.multi_select ? 'select' : 'type'),
                          data: {
                            field_id: field.id,
                            field_type: "field_value",
                            selectable: true,
                            field_options: field.field_options.any?,
                            multiple: field.multi_select
                          }
                        %>
                      <% end %>
                    </div>
                  <% end %>

                  <%=
                    button_tag t('transcriber.transcription-box-template.form.submit-btn-text'),
                    class:"submit-btn btn btn-primary btn-md btn-draw-accented"
                  %>
                </div>
              </div>
              <%# We only show this for admins %>
              <% if current_user&.admin %>
                <div class="notes-container">
                  <label for="transcription-notes-help"
                    style="cursor: help;"
                    aria-hidden="true"
                    title="<%=strip_tags(t('transcriber.transcription-box-template.form.fields.labels.notes'))%>"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-content="<%= t('transcriber.transcription-box-template.form.fields.help.notes').html_safe %>"
                    data-container="body"
                    data-html="true"
                    data-placement="auto"
                  >
                    <%= t('transcriber.transcription-box-template.form.fields.labels.notes') %>
                  </label>
                  <%=
                    text_area_tag(
                      "annotation[notes]",
                      nil,
                      class: 'admin-note-text'
                    )
                  %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</script>
<!-- If the page still has data that has not yet been transcribed, click on the blue "Take a break" button below. If the page is completely finished, and there is no longer any data left to transcribe, click on the green "Page is complete" button.  -->
<script type="text/template" id="stop-transcribing-template">
    <div class="boffset40">
      <%= t('transcriber.stop-transcribing-modal.instructions').html_safe %>
    </div>
    <%= form_for transcription, html: {
      class: "", id: "submit-transcription-form", style: "overflow: hidden;"
      } do
    %>
      <%= hidden_field_tag "transcription[complete]", true %>
      <%= button_tag t('transcriber.stop-transcribing-modal.buttons.mark-finished'),
        class: "btn btn-lg btn-draw-accented",
        id: "transcription-complete-btn", type: 'submit'
      %>
      <%= link_to t('transcriber.stop-transcribing-modal.buttons.take-a-break'),
        transcription, class: 'btn btn-lg btn-primary pull-right',
        id: 'take-a-break-btn'
      %>
    <% end %>
</script>

<!-- Click and drag the main image to draw a box around the observations that you just transcribed. Don't include the date or time. -->
<!-- http://test.citsci.geog.mcgill.ca/system/content_images/large/775d3dd38deab22f40fb1952448c7766a3a1fea8.gif -->
<script type="text/template" id="draw-box-modal-contents">
    <div class="boffset40">
      <%= t('transcriber.annotation-box-instructions-modal.instructions').html_safe %>
    </div>
    <img src="<%= strip_tags(t('transcriber.annotation-box-instructions-modal.tutorial-img-src')) %>" alt="" class="img-responsive center-block" />
    <div class="box-modal-btn-container voffset20">
        <button class="dont-ask-again btn btn-lg btn-info pull-left">
          <%= t('transcriber.annotation-box-instructions-modal.btn-labels.mark-and-dont-ask-again').html_safe %>
        </button>
        <button class="draw-box-btn btn btn-lg btn-primary pull-right">
          <%= t('transcriber.annotation-box-instructions-modal.btn-labels.mark-transcribed-area').html_safe %>
        </button>
    </div>
</script>
