<div id="scribe_annotation_box">
    <div id="scribe_transcription_area">
        <div id="scribe_top_bar">
            <div id="scribe_prompt">
                <p id="scribe_prompt_text">Enter the values for each field to be transcribed</p>
                <button id="scribe_annotation_close_button" onClick="$('#scribe_annotation_box').hide();">Close</button>
            </div>
            <ul id="scribe_tab_bar">
                <% field_groups.each do |field_group| %>
                    <li id="scribe_tab_<%= field_group.name.gsub(" ", "_") %>" class="scribe_tab" data-form-id="field_group_<%= field_group.id %>"><%= field_group.name %></li>
                <% end %>
            </ul>
        </div>
        <div id="scribe_bottom_area">
            <div id="scribe_input_bar">
                <p id="formInstructions">Click a tab to begin</p>
                <% field_groups.each do |field_group| %>
                    <div id="scribe_input_<%= field_group.name.gsub(' ', '_') %>">
                        <%= form_tag annotations_path, id: ("field_group_" + field_group.id.to_s), class:"annotation-form", style:"display: none;", remote: true, format: :json do %>
                            <%= hidden_field_tag "filename", page.image_file_name %>
                            <%= hidden_field_tag "annotation[meta][transcription_id]", transcription.id %>
                            <%= hidden_field_tag "annotation[meta][page_id]", page.id %>
                            <%= hidden_field_tag "annotation[meta][field_group_id]", field_group.id %>
                            <%= hidden_field_tag "annotation[meta][x_tl]", nil, id: "x-field" %>
                            <%= hidden_field_tag "annotation[meta][y_tl]", nil, id: "y-field" %>
                            <%= hidden_field_tag "annotation[meta][x_br]", nil, id: "width-field" %>
                            <%= hidden_field_tag "annotation[meta][y_br]", nil, id: "height-field" %>
                            
                            
                            <div class="scribe_input_field">
                                <p class="scribe_input_label">Day of Week</p>
                                <%= select_tag "annotation[week_day]", options_for_select(t('date.day_names')), required: true, prompt: "Select Day" %>
                            </div>
                            <div class="scribe_input_field">
                                <p class="scribe_input_label">Observation Date</p>
                                <%= select_tag "annotation[obs_date]", options_for_select(transcription.page.start_date..transcription.page.end_date), required: true, prompt: "Select Date" %>
                            </div>
                            <div class="scribe_input_field">
                                <p class="scribe_input_label">Observation Time</p>
                                <%= time_field_tag "annotation[obs_time]", nil, required: true, min: "00:00:00", max: "23:59:00", step: "00:05:00" %>
                            </div>
                            
                            <% field_group.fields.each do |field| %>
                                <div class="scribe_input_field">
                                    <p class="scribe_input_label"><%= field.name %></p>
                                    <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][page_id]", page.id %>
                                    <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][user_id]", current_user.id %>
                                    <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][field_id]", field.id %>
                                    <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][data_type]", field.data_type %>
                                    <%= text_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]", nil, placeholder:"--", size:10 %>
                                </div>
                            <% end %>
                            
                            <%= submit_tag "Submit", class:"submit-btn btn btn-primary btn-xs pull-left" %>
                        <% end %>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            
                        });
                    </script>
                <% end %>
            </div>
        </div>
    </div>
    
    <div id="scribe_zoom_box" style="background-image: url('<%= page.image.url(:original) %>'); background-repeat: no-repeat; background-position-y: -200px;"></div>
</div>
