<div id="scribe_annotation_box">
    <div id="scribe_zoom_box" style="background-image: url('<%= page.image.url(:original) %>'); background-repeat: no-repeat; background-position-y: -200px;"></div>
    
    <div id="scribe_transcription_area">
        <div id="scribe_top_bar">
            <div id="scribe_prompt">
                <p id="scribe_prompt_text">Enter the values for each field to be transcribed</p>
                <button class="btn btn-default btn-xs pull-right" onClick="clearAnnotationBox();" style="border: none;"><i class="fa fa-close fa-2x"></i></button>
            </div>
            <ul id="scribe_tab_bar">
                <% field_groups.each do |field_group| %>
                    <% if field_group.fields.any? %>
                        <li id="scribe_tab_<%= field_group.id %>" class="scribe_tab <%= field_group.colour_class %>" data-field-group-id="<%= field_group.id %>" data-field-count=<%= field_group.fields.count + 3 %>><%= field_group.presentation_name %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div id="scribe_bottom_area">
            <div id="scribe_input_bar">
                <div id="formInstructions">Click a tab to begin</div>
                <% field_groups.each do |field_group| %>
                    <div id="field-group-<%= field_group.id %>" class="annotation-form-field-group" style="display:none;">
                        <% if field_group.help.present? %>
                            <p class="field-group-help-text"><%= field_group.help.html_safe %></p>
                        <% end %>
                        <%= form_tag annotations_path, id: ("field_group_" + field_group.id.to_s), class:"annotation-form", remote: true, format: :json, data: {field_group_id: field_group.id } do %>
                            <%= hidden_field_tag "filename", page.image_file_name %>
                            <%= hidden_field_tag "annotation[meta][transcription_id]", transcription.id %>
                            <%= hidden_field_tag "annotation[meta][page_id]", page.id %>
                            <%= hidden_field_tag "annotation[meta][field_group_id]", field_group.id %>
                            <%= hidden_field_tag "annotation[meta][x_tl]", nil, id: "x-field" %>
                            <%= hidden_field_tag "annotation[meta][y_tl]", nil, id: "y-field" %>
                            <%= hidden_field_tag "annotation[meta][width]", nil, id: "width-field" %>
                            <%= hidden_field_tag "annotation[meta][height]", nil, id: "height-field" %>
                            
                            <div class="user-input-container">
                                <div class="scribe_input_field datetime">
                                    <div class="scribe_input_label">
                                        <%= select_tag "annotation[obs_date]", options_for_select( page.has_metadata? ? page.page_days.collect(&:date) : (transcription.page.start_date..transcription.page.end_date)), include_blank: true, required: true, placeholder: "select date", id: ("date-" + field_group.id.to_s), class: "observation-input do-not-clear form-control date-field", title: "Observation Date", data: { field_type: "date"}, style: "width: 100%;" %>
                                        <div>
                                            <%= content_tag "i", "", class: "fa fa-info-circle", style: "cursor: help;", title: "Observation Date", data: { content: "For which day are you transcribing data?", toggle: "popover", placement: "bottom auto", trigger: "hover"}%> Observation Date
                                        </div>
                                    </div>
                                </div>
                                <div class="scribe_input_field datetime">
                                    <div class="scribe_input_label">
                                        <%= time_field_tag "annotation[obs_time]", nil, required: true, class: "observation-input do-not-clear form-control time-field", title: "Observation Time", data: {field_type: "time"} %>
                                        <div>
                                            <%= content_tag "i", "", class: "fa fa-info-circle", style: "cursor: help;", title: "Observation Date", data: { content: "What is the time of this observation?<br /><br /><strong>Safari Users:</strong> Times must be entered in either 12h (4:30 PM) or 24h (16:30) format. Any other format will cause the annotation to fail.", html: true, toggle: "popover", placement: "bottom auto", trigger: "hover"}%> Observation Time
                                        </div>
                                    </div>
                                </div>
                                
                                <% field_group.fields.each do |field| %>
                                    <div class="scribe_input_field" data-field-id="<%= field.id %>">
                                        <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][page_id]", page.id %>
                                        <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][user_id]", current_user.id %>
                                        <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][field_id]", field.id, data: {field_type: "field_id"} %>
                                        <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][data_type]", field.data_type %>
                                        <%= hidden_field_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][selected_option_ids]", nil, class: "selected-option-ids" %>
                                        <div class="scribe_input_label">
                                        <% if field.field_options.any? %>
                                            <%= select_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]", nil, class: "observation-input form-control", multiple: field.multi_select,  data: { field_id: field.id, field_type: "field_value", selectable: true, field_options: true, multiple: field.multi_select, tags: field.multi_select } %>
                                        <% else %>
                                            <%= select_tag "annotation[data][#{field.field_key.downcase.gsub(" ", "_")}][value]", nil, class: "observation-input form-control", data: { field_id: field.id, field_type: "field_value", selectable: true, field_options: false } %>
                                        <% end %>
                                        <i class="fa fa-info-circle" style="cursor: help;" aria-hidden="true" title="<%= (field.full_name && field.full_name.present? ? field.full_name : field.name) %>" data-toggle="popover" data-trigger="hover" data-placement="left auto" data-content="<%= (field.help && field.help.present? ? field.help : "") %>"></i><%= field.name %>
                                        </div>
                                    </div>
                                <% end %>
                                <%= button_tag "Save", class:"submit-btn btn btn-primary btn-md scribe-input-field", style: "margin-top: 10px;" %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
