<% provide :title, strip_tags(t('new-transcription')) %>
<% provide :transcribe, "active" %>
<% provide :new_transcription, "active" %>

<h2>Start a New Transcription</h2>
<% if @page && @page.page_type && @page.page_type.field_groups.any? %>
    <div class="row">
        <div class="col-md-12">
            <h4>Page Info</h4>
            <ul>
                <li><%= t('first-day') %>: <%= @page.start_date %></li>
                <li><%= t('last-day') %>: <%= @page.end_date %></li>
                <% if @page.has_metadata? %>
                    <li>
                        <ul>
                            <li><strong>Observations per day</strong></li>
                            <% @page.page_days.order("date asc").each do |day| %>
                                <li>Date: <%= day.date %>, <%= day.num_observations %> observations</li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="row">
        <% if @page.has_metadata? %>
            <div class="col-sm-9">
                <%= simple_form_for @transcription do |f| %>
                    <%= hidden_field_tag "transcription[page_id]", @page.id %>
                    <%= hidden_field_tag "transcription[user_id]", current_user.id %>
                    <div class="form-actions">
                        <%= f.button :submit, "Start Transcribing", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
            <div class="col-sm-3">
                <%= link_to "Skip and try another", new_transcription_path, class: "btn btn-info pull-right"%>
            </div>
        <% else %>
            <div class="col-md-12">
                <h3>Page Metadata</h3>
            </div>
            <div class="col-md-12 boffset20">
                <%= render_snippet("/new_transcription_metadata_instructions") %>
            </div>
            <%= form_tag "/create_page_metadata", method: "post" do %>
                <%= hidden_field_tag "page_id", @page.id %>
                <%= hidden_field_tag "user_id", current_user.id %>
                <% (@page.start_date..@page.end_date).each_with_index do |day, index| %>
                    <div class="col-md-4 boffset10">
                        <% index += 1 %>
                        <%= hidden_field_tag "days[#{index.to_s}][date]", day %>
                        <label>Day <%= index %>:</label> <%= day.strftime("%A %b %e, %Y") %><br/>
                        <div style="margin-bottom: 10px;">Wrong Date? <%= check_box_tag "toggle_date_override_day_#{index}", 1, false, class: "toggle-date-override" %>
                            <div class="date-override" style="display: none; margin-bottom: 10px;">
                                <%= date_field_tag "days[#{index.to_s}][date]", day %>
                            </div>
                        </div>
                        
                        <label>Number of Observations:</label> <%= select_tag "days[#{index.to_s}][num_observations]", options_for_select(0..10), required: true, prompt: "Select a number" %>
                    </div>
                <% end %>
                <div class="col-md-12 voffset20">
                    <div class="row">
                        <div class="form-actions col-sm-9">
                            <%= submit_tag "Submit Metadata and Start Transcribing", class: "btn btn-primary pull-left" %>
                        </div>
                        <div class="col-sm-3">
                            <%= link_to "Skip and try another", new_transcription_path, class: "btn btn-info pull-right"%>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <% content_for :large_page_image do %>
        <%= image_tag @page.image.url(:xlarge), id: "target-img", draggable: true, class: "transcribeable-img", data: { 'magnify-src' => @page.image.url(:original) } %>
    <% end %>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".toggle-date-override").change(function() {
                $(this).siblings(".date-override").toggle();
            });
        });
    </script>
<% else %>
    <div class="row voffset20">
        <div class="col-md-12">
            <p>No page selected or page is not transcribeable. <%= link_to "Please try another", new_transcription_path, class: "btn btn-info btn-xs"%>.</p>
        </div>
    </div>
<% end %>

<!-- This is a test -->
