<h2>New Transcription</h2>
<div class="row">
    <div class="col-md-2">
        <%= image_tag current_user.avatar.url(:small) %>
    </div>
    <div class="col-md-10">
        <h4><%= current_user.display_name.present? ? current_user.display_name : current_user.email %></h4>
        <p><%= current_user.num_contributions %> pages transcribed</p>
    </div>
</div>
<% if @page && @page.page_type && @page.page_type.field_groups.any? %>
    <div class="row">
        <div class="col-md-4">
            <h4>Collection Info</h4>
            <p>Name: <%= @page.page_type.title %></p>
        </div>
        <div class="col-md-3">
            <%= simple_form_for @transcription do |f| %>
                <%= hidden_field :page_id, value: @page.id %>
                <%= hidden_field :user_id, value: current_user.id %>
                <div class="form-actions">
                    <%= f.button :submit %>
                </div>
            <% end %>
        </div>
        <div class="col-md-4">
            <%= link_to "Skip and try another", new_transcription_path, class: "btn btn-success"%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Transcription Instructions</h5>
            <p>Click the image below to begin transcribing it. A box will pop up containing tabs of different data types to transcribe. You can drag the box into position, or resize it as need be. When you click on a tab, the form containing fields that you can use to input data for your annotation will appear. Enter the values and click OK. The box will disappear, and your annotation will appear in JSON format in a form field below the image. You can continue to make as many annotations as you wish my clicking the image and repeating the process.</p>
            <p>When you are finished annotating the image, click the "Create Annotation" button below each annotation. Don't worry if you don't get a confirmation message, your annotation was created and saved. Don't click the button again or you will create a duplicate. This bug is actively being looked into.</p> 
            <p>When you finish submitting the annotations, navigate back to the top of this page and click the "Create Transcription" button to save and submit the transcription.</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= image_tag @page.image.url(:xlarge), id: "baseImage", draggable: true, class: "transcribeable-img", data: {original: @page.image.url(:original) } %>
            <%= render partial: "transcription_box", locals: {page: @page, field_groups: @page.page_type.field_groups, transcription: @transcription} %>
        </div>
    </div>
<% else %>
    <p>No page selected.</p>
<% end %>
<%= render partial: "transcription_js" %>
