<% provide :title, strip_tags(t('new-transcription')) %>
<% provide :transcribe, "active" %>
<% provide :new_transcription, "active" %>

<h2><%= t('new-transcription.header') %></h2>
<% if @page && @page.page_type && @page.page_type.field_groups.any? %>
    <div class="row">
      <div class="col-md-12">
        <h4><%= t('new-transcription.page-info') %></h4>
        <ul>
          <li><%= t('page.first-day') %>: <%= @page.start_date %></li>
          <li><%= t('page.last-day') %>: <%= @page.end_date %></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('page-metadata.headers.main') %></h3>
      </div>
      <div class="col-md-12 boffset20">
        <%= render_snippet("/new_transcription_metadata_instructions") %>
      </div>

      <div class="col-sm-12">
        <%= link_to t('page-metadata.form.labels.skip-page-btn'), new_transcription_path, class: "btn btn-info pull-right"%>
      </div>
      <div class="col-md-12">
        <%= render 'pages/metadata_form', page: @page, create_transcription: true %>
      </div>
    </div>

    <%= render 'pages/large_page_image', page: @page %>
<% else %>
    <div class="row voffset20">
        <div class="col-md-12">
            <p>No page selected or page is not transcribeable. <%= link_to "Please try another", new_transcription_path, class: "btn btn-info btn-xs"%>.</p>
        </div>
    </div>
<% end %>

