
<% create_transcription = create_transcription || nil %>
<% submit_btn_text = submit_btn_text || t('page-metadata.form.labels.submit-btn') %>

<% page_meta = page.page_info || page.build_page_info %>

<%= form_tag baseUri + (page.page_info.persisted? ? '/page-page_metadata/update' : "/page-page_metadata/create"), method: "post" do %>
   
  <%= hidden_field_tag "create_transcription", create_transcription %>
  <%= hidden_field_tag "page_id", page.id %>

  <div class="row voffset20">
    <div class="col-lg-2">
      <div class="form-group">
        <label for="observer">Observer</label>
        <%= text_field_tag "page_info[observer]", page_meta.observer, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="lat">Latitude</label>
        <%= text_field_tag "page_info[lat]", page_meta.lat, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="lon">Longitude</label>
        <%= text_field_tag "page_info[lon]", page_meta.lon, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="location">Location</label>
        <%= text_field_tag "page_info[location]", page_meta.location, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="elevation">Elevation</label>
        <%= text_field_tag "page_info[elevation]", page_meta.elevation, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group">
        <label for="elevation">Month</label>
        <%= select_tag "page_info[month]", options_for_select(Date::MONTHNAMES.map.with_index.map{|m, i| [m, i]}.drop(1), page.start_date.month), required: true, prompt: strip_tags(t('page-month')), class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label for="elevation">Year</label>
        <%= number_field_tag 'page_info[year]', page.start_date.year, min: page.start_date.year - 50, max: page.start_date.year + 50, required: true, prompt: strip_tags(t('page-year')), class: 'form-control year' %>
      </div>
    </div>
  </div>

  <div class="row voffset20">
    <div class="form-actions col-sm-12">
      <%= button_tag submit_btn_text.html_safe, class: "btn btn-primary pull-right", type:"submit" %>
    </div>
  </div>
<% end %>

<%# render 'pages/page_days_form', page: page, create_transcription: create_transcription %>

<script type="text/javascript">
  $(document).ready(() => {
    $('input.date-field').datetimepicker({
      format : "MMMM YYYY",
      viewMode: 'years',
      extraFormats: [ 'YYYY-MM', 'MMMM YYYY', 'MM-YYYY' ],
    });
  });
</script>
