<% provide(:weather_logs, "active") %>
<% provide(:transcribe, "active") %>
<% provide(:title, strip_tags(t('weather-logs'))) %>

<h1>
  <%= t('weather-logs') %>
  <span class="badge"><%= @pages.to_a.size %></span>
</h1>

<% if @user_transcriptions.any? %>
  <%= link_to "View my #{@user_transcriptions.size} transcriptions", my_profile_path, class: 'btn btn-info' %>
<% end %>

<h3 class="voffset30">Transcribe a new page</h3>

<% if @pages && @pages.any? %>
  <% @pages.group_by{|p|[p.start_date, p.end_date]}.each do |dates, pages| %>
    <div class="row voffset30">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 boffset20">
        <h4><%= l(dates.first, format: :long) %> <%= t('to') %> <%= l(dates.last, format: :long) %></h4>
      </div>
      <% pages.each do |page| %>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6" style="min-height: 300px;">
            <%= image_tag(page.image.url(:medium), class: "img-responsive center-block")%>
            <div class="text-center" style="width: 100%;">
                <h5><%= t('page') %> <%= page.page_type.number %></h5>
                <% if @user_transcriptions.any? && page.transcriptions.any? %>
                  <% transcription = @user_transcriptions.find{|t| t.page_id == page.id} %>
                  <% if transcription %>
                    <% if transcription.complete %>
                      <a href="<%= transcription_path(transcription) %>" class="btn btn-default btn-sm"><%= t('view-completed-transcription') %></a>
                    <% else%>
                      <a href="<%= edit_transcription_path(transcription) %>" class="btn btn-success btn-sm"><%= t('edit-transcription') %></a>
                    <% end %>
                  <% end %>
                <% else %>
                    <a href="<%= new_transcription_path(:current_page_id => page.id) %>" class="btn btn-primary btn-sm"><%= t('start-transcribing') %></a>
                <% end %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= t('no-pages-available') %>
    </div>
  </div>
<% end %>
