<%= simple_form_for ([:admin, @static_page]) do |f| %>
  <div class="row" data-hook="admin_page_form_fields">
    <div class="col-md-6" data-hook="admin_page_form_left">
      <div class="form-group">
        <%= f.input :title, required: true, input_html: { class: 'form-control' }, label: t('page-title') %>
      </div>

      <div class="form-group">
        <%= f.input :slug, required: true, input_html: { class: 'form-control' }, label: t('page-link') %>
      </div>

    </div>

    <div class="col-md-6" data-hook="admin_page_form_right">

      <div class="form-group">
        <%= f.input :foreign_link, input_html: { class: 'form-control' }, label: t('external-url') %>
      </div>

      <div class="form-group">
        <%= f.input :position, input_html: { class: 'form-control', min: 0 }, label: t('sort-order') %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-4">
      <%= f.input :show_in_header %>
    </div>
    <div class="col-sm-4">
      <%= f.input :show_in_footer %>
    </div>
    <div class="col-sm-4">
      <%= f.input :show_in_transcriber %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= f.input :visible %>
    </div>
    <div class="col-sm-4">
      <%= f.input :title_as_header %>
    </div>
    <div class="col-sm-4">
      <label class="select optional control-label" for="static_page_parent_id">
        <%= t('parent-page') %>
      </label>
      <select name="static_page[parent_id]" id="parent_id_field" class="form-control">
        <option value=""><%= t('none') %></option>
        <% StaticPage.top_level.each do |p| %>
          <%= render 'parent_dropdown_choice', page: p, parent_id: @static_page.parent_id, level: 0 %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row voffset20">
    <div class="col-md-12">
      <%= f.button :submit, strip_tags(t('save')), class: "btn btn-primary" %>
      <%= link_to t('cancel'), admin_static_pages_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>

  <div class="row voffset20">
    <% if @static_page && @static_page.id && @static_page.slug == "/custom_stylesheet" %>
        <div class="col-md-12 boffset20">
            <p>
                <strong>You are editing the custom stlyesheet for DRAW. Only edit this if you know what you're doing. Any changes you make here will be reflected automatically across the whole website. Be very careful when editing this page.</strong>
            </p>
            <p>
                <strong>Please validate your css before saving, and be sure that your styles aren't overly general as to unintentionally affect other parts of the website.</strong>
            </p>
        </div>
    <% end %>
    <div class="col-md-12">
        <div class="form-group">
          <button type="button" id="toggle-visual-editor-btn" class="btn btn-xs btn-primary pull-right" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="auto top" data-title="Visual Editor" data-content="If you turn on the visual editor, you may lose some fine-grained control over the result of your page. <b>Do not use the visual editor to modify the custom stylesheet.</b>">Toggle Visual Editor</button>
            <%= f.input :body, as: :text, required: true, input_html: { id: "page-content", rows: 30 }, label: t('page-body') %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.button :submit, strip_tags(t('save')), class: "btn btn-primary" %>
      <%= link_to t('cancel'), admin_static_pages_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        var editorIsEnabled = false;

        // Automatically enable the visual editor unless user is editing the custom stylesheet
        if (<%= @static_page && @static_page.id && @static_page.slug != "/custom_stylesheet" ? true : false %>) {
            $('#page-content').trumbowyg({
                removeformatPasted: true,
                autogrow: true,
                svgPath: '<%= asset_pack_path("media/ui/icons.svg")%>',
                semantic: false
            }).on("tbwinit", function() {
                editorIsEnabled = true;
            });
        };

        $("#toggle-visual-editor-btn").on("click", function() {
            if (editorIsEnabled) {
              $('#page-content').trumbowyg("destroy");
              editorIsEnabled = false;
            } else {
              $('#page-content').trumbowyg({
                  removeformatPasted: true,
                  autogrow: true,
                  svgPath: '<%= asset_pack_path("media/ui/icons.svg")%>',
                  semantic: false
              }).on("tbwinit", function() {
                editorIsEnabled = true;
              });
            };
        });
    });
</script>
