<% if current_page?(root_url) || current_page?('/') %>
<div class="partners d-flex justify-content-center fixed-bottom pt-2 pb-2 mb-5">
  <%# TODO %>
  <%= image_pack_tag("partners/McGill_logoT.gif", class: "w-25 mx-5" ) %>
  <%= image_pack_tag("partners/Geothink_Logo_T2.jpg", class: "w-25 mx-5" ) %>
  <%= image_pack_tag("partners/cirm.jpg", class: "w-25 mx-5" ) %>
</div>
<% end %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark draw-footer-nav fixed-bottom">
  <% if StaticPage.footer_links.any? %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%= render partial: "static_pages/link", collection: StaticPage.footer_links, as: :page, locals: { top_level: true, header: false } %>
    </ul>
  <% end %>
  <div class="my-2 my-lg-0 footer-copyright">
    &copy; <%= t('app.footer.copyright-holder') %> <%= Date.today.year %>
  </div>
</nav>
