<%= simple_form_for(@page_type) do |f| %>
  <% if @page_type.errors.any? %>
    <!-- #error_explanation -->
      <h2><%= pluralize(@page_type.errors.count, "error") %> prohibited this pagetype from being saved: </h2>
      <ul>
        <% @page_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <%= f.error_notification %>
  <%= f.association :ledger, include_blank: false %>
  <div class="form-inputs" >
    <%= f.input :title %>
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>