<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
          <%= content_for?(:title) ? yield(:title) + " | " : '' %>
          <%= t('app.meta-info.title').html_safe %>
        </title>
        <%= csrf_meta_tags %>
        <%= vite_client_tag %>

        <% if Rails.env.production? %>
          <!-- Global Site Tag (gtag.js) - Google Analytics -->
          <!-- Google tag (gtag.js) -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-N1TR15C5J7"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-N1TR15C5J7');
          </script>
        <% end %>

        <% if StaticPage.visible.find_by(slug: "/custom_stylesheet") %>
            <style id="admin-stylesheet" type="text/css"><%= render_snippet("/custom_stylesheet") %></style>
        <% end %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/v4-shims.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        <%= vite_javascript_tag "application" %>
    </head>
    <body>
      <div class="container">
        <div class="row col-md-12" id="message-container">
          <%= render partial: 'application/alerts' %>
        </div>
      </div>
      <%= yield %>

      <%= render "shared/transcriber_templates", page: @page, field_groups: @field_groups, transcription: @transcription, content_pages: @content_pages %>
      <%= render "shared/transcriber_app", page: @page, field_groups: @field_groups, transcription: @transcription %>
    </body>
</html>
