<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
          <%= "DRAW | " %>
          <%= yield(:title) %>
        </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "application", :media => "all"%>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

        <%= javascript_include_tag "application" %>

    </head>
    <body>
        <%= yield %>

        <% #render partial: "transcription_js" %>
        <%= render "shared/transcriber_templates", page: @page, field_groups: @transcription.field_groups, transcription: @transcription %>
        <%= render "shared/transcriber_app", page: @page, field_groups: @transcription.field_groups, transcription: @transcription %>
    </body>
</html>
